<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login Error </title>
    </h:head>
    <h:body>
        <p:panel header="Login Error">
            Sorry, you made an Error. <br />Please try again: <a href="#{facesContext.externalContext.requestContextPath}/" >Homepage</a>
        </p:panel>
    </h:body>
</html>

